<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icuxika.scaffold.module.mybatis.mapper.NodeMapper">
    <resultMap id="BaseResultMap" type="com.icuxika.scaffold.module.mybatis.entity.Node">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from node
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.icuxika.scaffold.module.mybatis.entity.Node">
        insert into node (id, parent_id)
        values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.icuxika.scaffold.module.mybatis.entity.Node">
        update node
        set parent_id = #{parentId,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, parent_id
        from node
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, parent_id
        from node
    </select>
</mapper>