<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.icuxika.scaffold.module.mybatis.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.icuxika.scaffold.module.mybatis.entity.Tag">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from tag
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.icuxika.scaffold.module.mybatis.entity.Tag">
        insert into tag (id, name)
        values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.icuxika.scaffold.module.mybatis.entity.Tag">
        update tag
        set name = #{name,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select id, name
        from tag
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, name
        from tag
    </select>
</mapper>